.card {
  width: 20%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card span{
  /* font-family: 'Roboto';
font-weight: 500;
font-size: 21.83px;
line-height: 25.58px;
color: #FFFFFF; */
}


.card h2{

}


